{% extends "::Layouts/global.html.twig" %}

{% block title %} Home {% endblock %}

{% block bodyContent %}

<h1>Demonstrations!</h1>  

<p>
    Here are listed all demonstrations with <i>Frasy</i>.<br />
    Much demos will come later.
</p>

<section id="demos">
    <ul>
        <li><a href="{{ route('acme_demo_hello', {'name':'Frasy'}) }}">Hello world!</a></li>
    </ul>

</section>


<br /><br />
<a class="link" href="{{ route('acme_home') }}">&gt; Back home</a>


{% endblock %}