{% extends "::Layouts/global.html.twig" %}

{% block title %} Home {% endblock %}

{% block bodyContent %}

<h1>Welcome!</h1>  

<p>
    Hello you. This is the base template for an application with <i>Frasy</i>.<br />

</p>

<div id="rapidLinks">

    <a href="http://book.frasy.loc">
        <div class="link">
            <div class="logo"><img src="/assets/acmebundle/images/documentation.png" alt="Documentation"  /></div>
            <div class="title">Documentation</div>
        </div></a>

    <a href="{{ route('acme_demo_home') }}">
        <div class="link">
            <div class="logo"><img src="/assets/acmebundle/images/demo.png" alt=""  /></div>
            <div class="title">Run the demo</div>
        </div>
    </a>
</div>


<section id="versions">
    <h2>Main libraries</h2>
    <span>Frasy version :</span> {{ FrasyVersions.Frasy }}<br />
    <span>Twig version :</span> {{ FrasyVersions.Twig }}<br />
    <span>Doctrine version :</span>  {{ FrasyVersions.Doctrine }}<br />


</section>

{% endblock %}