<!doctype html>
<html>
    <head>
        <title>
            Frasy | {% block title %}Home{% endblock %}
        </title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Chewy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <style type="text/css">
                body {
                    margin:0;
                    background-color: #e7e6e6;
                }

                #all {
                    width: 70%;
                    margin:auto;
                }
                
                header h1 {
                    font-family: Chewy;
                    font-size: 3.5em;
                    margin: 3px;
                    color: #24375F; 
                }

                .FrasyLogo {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border: white solid 1px;
                }
                
                #body {
                    margin: auto;
                    margin-top: 10px;
                    padding: 40px;
                    background-color: white;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                }
                
                #body h1 {
                    color: black;
                    font-size: 2em;
                    margin: 0;
                }
                
                #rapidLinks {
                    width: 80%;
                    
                    height: 200px;
                    margin:auto;
                    text-align: center;
                }
                
                #rapidLinks .link {
                    width: 150px;
                    height: 150px;
                    display: inline-block;
                    border-radius: 5px;
                    text-align: center;
                    margin-right: 10%;
                    margin-left: 10%;
                    padding-top: 20px;
                    background-color: #e0dfdf;
                }
                
                #rapidLinks .link:hover {
                    background-color: #e9e8e8;
                    cursor: pointer;
                }
                
                #rapidLinks .link .logo {
                    width: 100px;
                    height: 100px;
                    margin:auto;
                }
                
                #rapidLinks .link .logo img {
                    width: 100px;
                    height: 100px;
                }
                
                #rapidLinks .link .title {
                    margin: auto;
                    margin-top: 10px;
                    color: #363947;
                    font-weight: bolder;
                }
                
                p {
                    text-indent: 20px;
                }
                
                #versions span {
                    margin-left: 15px;
                    font-weight: bold;
                }
                
                #code {
                    background-color: #d9ddee;
                    padding: 10px;
                    border-radius: 10px;
                    text-align: justify; 
                    word-wrap: break-word;
                }
                
                footer {
                    margin-bottom: 150px;
                }
                
                a.link {
                    color: #353b58;
                    text-decoration: none;
                    font-size: 1.3em;
                }
                
                a.link:hover {
                    font-style: italic;
                }
                    
            </style>
        </head>

        <body>
            <section id="all">
                <header>
                    <h1><div class="FrasyLogo"></div> Frasy</h1>
                </header>

                <section id="body">
                    {% block bodyContent %}
                    {% endblock %}
                </section>

                <footer>
                    Copyrigth © Frasy 2013 - <a href="http://pierre.plumedor.fr">Pierre BOURGEOIS</a>
                </footer>
            </section>
        </body>
    </html>