{% extends "::Layouts/global.html.twig" %}

{% block title %} Hello {{name}}! {% endblock %}

{% block bodyContent %}
<h1>{{ block('title') }}</h1>

<p>
    You're currently viewing <i>Hello world</i> example.<br />
    You can change the last parameter in URL.
</p>

<h2>Code behind this page</h2>
<section id="code">
<pre>{{ code }}</pre>
</section>

<br /><br />
<a class="link" href="{{ route('acme_demo_home') }}">&gt; Back demo home</a>

{% endblock %}