
/* TOGGLE & ACCORDION ------------------------------------------------------------*/

h5.accordion-trigger,
h5.toggle-trigger {
	padding: 0 0 0 20px;
	margin: 0 0 5px 0;
	height: 46px;
	line-height: 46px;
	width: 100%;
	float: left;
	border-bottom: 1px solid #cccccc;
}

h5.accordion-trigger a,
h5.toggle-trigger a {
	text-decoration: none;
	display: block;
	color: #606060;
}

h5.accordion-trigger a:hover,
h5.toggle-trigger a:hover { 
	color: #999;
}

div.accordion-container,
div.toggle-container {
	margin: 0 0 5px 0px;
	padding: 0;
	overflow: hidden;
	clear: both;
}

div.accordion-container .block,
div.toggle-container .block {
	padding: 10px; 
}

div.accordion-container .block ,
div.toggle-container .block {
	font-size: 14px;
	line-height: 1.5em;
}

div.accordion-container .block p,
div.toggle-container .block p{
	margin-bottom: 1.5em;
}

/* ALIGNMENT ------------------------------------------------------------*/

.left-align{
	float:left;
	margin:8px 18px 18px 0;
	display: block;
}

.right-align{
	float:right;
	margin:0px 0px 0px 10px;
	display: block;
}

/* BLOCKS ------------------------------------------------------------*/

.boxed{
	background: white;
	padding: 5px;
	border: 1px solid #cccccc;
}

.border{
	border: 2px solid white;
}

/* DROPCAP ------------------------------------------------------------*/

.dropcap {
	display:block;
	float:left;
	font-size:36px;
	line-height:40px;
	margin:0 8px 0 0;
	padding: 0px 10px;
}

.dropcap-invert {
	display:block;
	float:left;
	font-size:28px;
	line-height:40px;
	margin:0 8px 0 0;
	padding: 0px 10px;
	background: #606060;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* HIGHLIGHT ------------------------------------------------------------*/

.highlight,
.highlight-red,
.highlight-blue,
.highlight-green {
	background:yellow;
	padding:2px 5px;
}

.highlight-red{ 
	background: red;
	color:#fff;
}

.highlight-blue{
	background: blue;
	color:#fff;
}

.highlight-green{
	background: green;
	color:#fff;
}

/* PULLQUOTES ------------------------------------------------------------*/

.pullquote-right,
.pullquote-left {
	border-left: #555555 2px solid;
	float:right;
	font-size:16px;
	line-height:1.5em;
	margin: 20px 0px 20px 20px;
	padding:0 0 0 20px;
	width:33%;
	font-style: italic;
}

.pullquote-left {
	float:left;
	margin: 20px 20px 20px 0px;
}

.pullquote-right{
	border-left: none;
	border-right: #555555 2px solid;
}

/* LINK BUTTON -------------------------------------------------------*/

a.link-button,
a.link-button-dark{
	display: table;
	background: url(../img/link-button.png) no-repeat;
	line-height: 44px;
	margin: 5px 0px;
}

a.link-button-dark{
	background: url(../img/link-button-dark.png) no-repeat;
	color: #fff;
}

a.link-button span,
a.link-button-dark span{
	display: block;
	line-height: 44px;
	margin-left: 21px;
	padding-right: 21px;
	background: url(../img/link-button.png) no-repeat bottom right;
}

a.link-button-dark span{
	background: url(../img/link-button-dark.png) no-repeat bottom right;
}

a.link-button:hover{ background: url(../img/link-button-over.png) no-repeat; }
	
a.link-button:hover span{ background: url(../img/link-button-over.png) no-repeat bottom right; }

a.link-button-dark:hover{ background: url(../img/link-button-dark-over.png) no-repeat; }
	
a.link-button-dark:hover span{ background: url(../img/link-button-dark-over.png) no-repeat bottom right; }

/* TABLE ------------------------------------------------------------*/

table, td, th {
	vertical-align:middle;
}

table {
	border-collapse:separate;
	border-spacing:0;
	border-top:1px solid white;
	margin-bottom:28px;
	width:100%;
	text-align: left;
}

th{
	border-top:5px solid #555555;
	color: #ffffff;
	padding:10px;
	text-transform:uppercase;
	background-color: #49494b;
}

td{
	padding:10px;
}

td, th{
	border-bottom: 1px solid #1f1f1f;
}

/* TAGS ------------------------------------------------------------*/

.tags{
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
}

.tags li{
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background: url(../img/tag.png) no-repeat top left;
	border-right: 1px solid #cc912d;	
}

.tags li:first-child{
	background: none;
	border: none;
}

.tags li a{
	display: block;
	height: 100%;
	width: 100%;
	margin-left: 20px;
	margin-right: 10px;
}

/* INFO BOXES ------------------------------------------------------------*/

.info-add,
.warning-box,
.blue-box,
.error-box,
.download-box,
.favorite-box,
.information-box,
.success-box,
.validation-box,
.fastforward-box,
.rewind-box,
.right-box,
.graphite-box,
.green-box,
.gray-box,
.help-box,
.left-box,
.loop-box,
.message-box,
.orange-box,
.pause-box,
.play-box,
.record-box,
.red-box,
.refresh-box,
.remove-box,
.search-box,
.shuffle-box,
.smart-box,
.back-box,
.forward-box,
.stop-box,
.upload-box
{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.info-add{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Add.png');
}

.warning-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/knobs-icons/Knob Attention.png');
}

.blue-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/knobs-icons/Knob Blue.png');
}

.error-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/knobs-icons/Knob Cancel.png');
}

.download-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Download.png');
}

.favorite-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/knobs-icons/Knob Favorite.png');
}

.information-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/knobs-icons/Knob Info.png');
}

.success-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Valid Green.png');
}

.fastforward-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Fast Forward.png');
}

.rewind-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Fast Rewind.png');
}

.right-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Forward.png');
}

.graphite-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Graphite.png');
}

.green-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Green.png');
}

.gray-box{
	color: #fff;
	background-color: #999999;
	background-image: url('../img/knobs-icons/Knob Grey.png');
}

.help-box{
	color: #fff;
	background-color: #b47bc4;
	background-image: url('../img/knobs-icons/Knob Help.png');
}

.left-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Left.png');
}

.loop-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Loop Off.png');
}

.message-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/knobs-icons/Knob Message.png');
}

.orange-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/knobs-icons/Knob Orange.png');
}

.pause-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Pause.png');
}

.play-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Play.png');
}

.record-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Record Off.png');
}

.red-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/knobs-icons/Knob Red.png');
}

.refresh-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/knobs-icons/Knob Refresh.png');
}

.remove-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/knobs-icons/Knob Remove Red.png');
}

.search-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/knobs-icons/Knob Search.png');
}

.shuffle-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Shuffle Off.png');
}

.smart-box{
	color: #fff;
	background-color: #b47bc4;
	background-image: url('../img/knobs-icons/Knob Smart.png');
}

.back-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/knobs-icons/Knob Snapback.png');
}

.forward-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/knobs-icons/Knob Snapforward.png');
}

.stop-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('../img/knobs-icons/Knob Stop.png');
}

.upload-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/knobs-icons/Knob Upload.png');
}